* {
  font-family: "Raleway", sans-serif;
}

textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.603) !important;
}
.inp {
  background-color: rgba(255, 255, 255, 0.212);
  border: none;
}
body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #172be6, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
h3 {
  color: rgb(255, 255, 255);
  font-size: 50px;
  padding: 5px;
  text-align: center;
  margin: auto;
  margin-bottom: 0;
  margin-top: 15px;
  text-shadow: rgba(0, 0, 0, 0.075) 0.1em 0.1em 0.2em;
}
.down2 {
  display: none;
}
.border {
  margin: 15px;
  margin-right: 100px;
  margin-left: 100px;
  border-bottom: 3px rgba(255, 255, 255, 0.363) solid;
}
button {
  font-family: Century Gothic;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.144);
  align-items: center;
  font-size: 15px;
  border: none;
  padding: 5px;
  border-radius: 2px;
  transition: ease 0.3s;
}
button:hover {
  background-color: rgba(255, 255, 255, 0.432);
  color: rgb(255, 255, 255);
}

button:focus {
  background-color: rgb(255, 255, 255);
  color: #000000;
}
#last {
  color: white;
}

@media (min-width: 700px) {
  #sub {
    height: 300px;
    width: 600px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.212);
    color: rgb(0, 0, 0);
    padding-top: 8px;
    padding-left: 8px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
  }
  .down2 {
    display: none;
  }
  .inp {
    width: 600px;
    height: 30px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    padding-top: 5px;
    padding-left: 5px;
    font-size: 15px;
    border-radius: 5px;
    border-color: crimson;
  }

  .head {
    color: rgba(255, 255, 255, 0.842);
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.253);
    border-radius: 20px;
    text-align: center;

    margin: auto;
    margin-left: 30px;
    margin-right: 30px;
  }
  .down {
    float: right;
    margin: 20px;
  }
}
@media (max-width: 699px) {
  #sub {
    height: 300px;
    width: 600px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.212);
    color: rgb(0, 0, 0);
    padding-top: 8px;
    padding-left: 8px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
  }
  .down2 {
    display: none;
  }
  .inp {
    width: 600px;
    height: 30px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    padding-top: 5px;
    padding-left: 5px;
    font-size: 15px;
    border-radius: 5px;
    border-color: crimson;
  }
  .head {
    color: rgba(255, 255, 255, 0.842);
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.253);
    border-radius: 20px;
    text-align: center;
    margin: auto;
    margin-left: 30px;
    margin-right: 30px;
  }
  .down {
    float: right;
    margin: 20px;
  }
}

@media (max-width: 641px) {
  #sub {
    height: 300px;
    width: 300px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.212);
    color: rgb(0, 0, 0);
    padding-top: 8px;
    padding-left: 8px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
  }

  .inp {
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    padding-top: 5px;
    padding-left: 5px;
    font-size: 15px;
    border-radius: 5px;
    border-color: crimson;
  }

  .head {
    color: rgba(255, 255, 255, 0.842);
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.253);
    border-radius: 20px;
    text-align: center;
    font-size: 14px;
    margin: auto;
    margin-left: 30px;
    margin-right: 30px;
  }
  .down {
    float: right;
    margin: 20px;
  }
}

@media (max-width: 564px) {
  #sub {
    height: 300px;
    width: 300px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.212);
    color: rgb(0, 0, 0);
    padding-top: 8px;
    padding-left: 8px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
  }

  .inp {
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    padding-top: 5px;
    padding-left: 5px;
    font-size: 15px;
    border-radius: 5px;
    border-color: crimson;
  }
  .head {
    color: rgba(255, 255, 255, 0.842);
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.253);
    border-radius: 20px;
    text-align: center;
    font-size: 12px;
    margin: auto;
    margin-left: 30px;
    margin-right: 30px;
  }
  h3 {
    text-align: center;
    margin-left: 0;
    margin-right: 0;
  }
  .down {
    float: right;
    margin: 20px;
    display: none;
  }

  .down2 {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: center;
  }
}
h2 {
  color: rgb(0, 0, 0);
  text-align: center;
}

.wrap {
  text-align: center;
}

.dev {
  color: rgb(0, 0, 0);
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid crimson;
  border-bottom: 1px solid crimson;
  text-align: center;
  font-size: 14px;
}

.mode {
  text-align: center;
  margin-top: 10px;
}

.name {
  text-align: center;
}
