* {
  font-family: "Raleway", sans-serif;
  background-color: rgb(255, 255, 255);
}

h3 {
  color: crimson;
  text-align: center;
  font-size: 50px;
  padding: 5px;
  margin-bottom: 0;
  margin-top: 15px;
}
@media (min-width: 700px) {
  #sub {
    height: 300px;
    width: 600px;
    padding: 0;
    color: rgb(0, 0, 0);
    padding-top: 5px;
    padding-left: 5px;
    font-size: 15px;
    border-radius: 5px;
    border-color: crimson;
  }

  .inp {
    width: 600px;
    height: 30px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    padding-top: 5px;
    padding-left: 5px;
    font-size: 15px;
    border-radius: 5px;
    border-color: crimson;
  }
}
@media (max-width: 699px) {
  #sub {
    height: 300px;
    width: 600px;
    padding: 0;
    color: rgb(0, 0, 0);
    padding-top: 5px;
    padding-left: 5px;
    font-size: 15px;
    border-radius: 5px;
    border-color: crimson;
  }

  .inp {
    width: 600px;
    height: 30px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    padding-top: 5px;
    padding-left: 5px;
    font-size: 15px;
    border-radius: 5px;
    border-color: crimson;
  }
}

@media (max-width: 641px) {
  #sub {
    height: 300px;
    width: 300px;
    padding: 0;
    color: rgb(0, 0, 0);
    padding-top: 5px;
    padding-left: 5px;
    font-size: 15px;
    border-radius: 5px;
    border-color: crimson;
  }

  .inp {
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    padding-top: 5px;
    padding-left: 5px;
    font-size: 15px;
    border-radius: 5px;
    border-color: crimson;
  }
}

@media (max-width: 564px) {
  #sub {
    height: 300px;
    width: 300px;
    padding: 0;
    color: rgb(0, 0, 0);
    padding-top: 5px;
    padding-left: 5px;
    font-size: 15px;
    border-radius: 5px;
    border-color: crimson;
  }

  .inp {
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    padding-top: 5px;
    padding-left: 5px;
    font-size: 15px;
    border-radius: 5px;
    border-color: crimson;
  }
}
h2 {
  color: rgb(0, 0, 0);
  text-align: center;
}

button {
  font-family: Century Gothic;
  color: rgb(255, 255, 255);
  border: 1px solid crimson;
  background-color: crimson;
  align-items: center;
  font-size: 20px;
  border-radius: 5px;
  transition: ease 0.3s;
}
button:hover {
  background-color: rgb(255, 255, 255);
  color: crimson;
}

button:focus {
  background-color: crimson;
  color: #ffffff;
}

.wrap {
  text-align: center;
}

.head {
  color: rgb(0, 0, 0);
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid crimson;
  border-top: 1px solid crimson;
  text-align: center;
}

.dev {
  color: rgb(0, 0, 0);
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid crimson;
  border-bottom: 1px solid crimson;
  text-align: center;
}

.mode {
  text-align: center;
  margin-top: 10px;
}

.name {
  text-align: center;
}
