* {
  font-family: "Raleway", sans-serif;
}

textarea::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.603) !important;
}

body {
  margin: 0;
}

.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(
    -60deg,
    rgb(51, 12, 112) 50%,
    rgb(113, 19, 177) 50%
  );
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}

.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 4s;
}

.bg3 {
  animation-duration: 5s;
}

h1 {
  font-family: monospace;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

h3 {
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 50px;
  padding: 5px;
  margin-bottom: 0;
  margin-top: 15px;
  text-shadow: rgba(0, 0, 0, 0.075) 0.1em 0.1em 0.2em;
}

.border {
  margin: 15px;
  margin-right: 100px;
  margin-left: 100px;
  border-bottom: 3px rgba(255, 255, 255, 0.363) solid;
}

#last {
  color: white;
}

@media (min-width: 700px) {
  #sub {
    height: 300px;
    width: 600px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.212);
    color: rgb(0, 0, 0);
    padding-top: 8px;
    padding-left: 8px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
  }

  .inp {
    width: 600px;
    height: 30px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    padding-top: 5px;
    padding-left: 5px;
    font-size: 15px;
    border-radius: 5px;
    border-color: crimson;
  }

  .head {
    color: rgba(255, 255, 255, 0.842);
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.253);
    border-radius: 20px;
    text-align: center;

    margin: auto;
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media (max-width: 699px) {
  #sub {
    height: 300px;
    width: 600px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.212);
    color: rgb(0, 0, 0);
    padding-top: 8px;
    padding-left: 8px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
  }

  .inp {
    width: 600px;
    height: 30px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    padding-top: 5px;
    padding-left: 5px;
    font-size: 15px;
    border-radius: 5px;
    border-color: crimson;
  }
  .head {
    color: rgba(255, 255, 255, 0.842);
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.253);
    border-radius: 20px;
    text-align: center;
    margin: auto;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 641px) {
  #sub {
    height: 300px;
    width: 300px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.212);
    color: rgb(0, 0, 0);
    padding-top: 8px;
    padding-left: 8px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
  }

  .inp {
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    padding-top: 5px;
    padding-left: 5px;
    font-size: 15px;
    border-radius: 5px;
    border-color: crimson;
  }

  .head {
    color: rgba(255, 255, 255, 0.842);
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.253);
    border-radius: 20px;
    text-align: center;
    font-size: 14px;
    margin: auto;
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 564px) {
  #sub {
    height: 300px;
    width: 300px;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.212);
    color: rgb(0, 0, 0);
    padding-top: 8px;
    padding-left: 8px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
  }

  .inp {
    width: 300px;
    height: 30px;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
    padding-top: 5px;
    padding-left: 5px;
    font-size: 15px;
    border-radius: 5px;
    border-color: crimson;
  }
  .head {
    color: rgba(255, 255, 255, 0.842);
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgba(255, 255, 255, 0.253);
    border-radius: 20px;
    text-align: center;
    font-size: 12px;
    margin: auto;
    margin-left: 30px;
    margin-right: 30px;
  }
}
h2 {
  color: rgb(0, 0, 0);
  text-align: center;
}

button {
  font-family: Century Gothic;
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.144);
  align-items: center;
  font-size: 15px;
  border: none;
  padding: 5px;
  border-radius: 2px;
  transition: ease 0.3s;
}
button:hover {
  background-color: rgb(255, 255, 255);
  color: crimson;
}

button:focus {
  background-color: crimson;
  color: #ffffff;
}

.wrap {
  text-align: center;
}

.dev {
  color: rgb(0, 0, 0);
  padding-top: 10px;
  padding-bottom: 10px;
  border-top: 1px solid crimson;
  border-bottom: 1px solid crimson;
  text-align: center;
  font-size: 14px;
}

.mode {
  text-align: center;
  margin-top: 10px;
}

.name {
  text-align: center;
}
