<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ReadX</title>
    <link rel="stylesheet" href="../static/styles-darkv3.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h3>ReadX</h3>
    <p class="head">CONTACT US</p>
    <br />
    <form action="/para_details" method="POST">
      <div class="name">
        <input
          class="inp"
          type="text"
          placeholder="Enter Your Name..."
          required
        />
      </div>
      <div class="wrap">
        <textarea
          id="sub"
          required
          name="subject"
          placeholder="Enter Your Message..."
        ></textarea>
      </div>
      <br />
      <div class="wrap">
        <button type="submit">Send</button>
      </div>
    </form>
    <div class="mode">
      <a href="/home-dark"
        ><button id="mode">
          Light Mode
        </button></a
      >
    </div>
    <p class="dev">
      ReadX v2.0 Developed By
      <a class="link" href="https://github.com/iaryankashyap">Aryan Kashyap</a>
      (c)
      <a class="link" href="https://github.com/DevX-Community">DevX</a>
    </p>
  </body>
</html>
