<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ReadX</title>
    <link rel="stylesheet" href="../static/styles-con-darkv7.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.13.0/css/all.css"
      integrity="sha384-Bfad6CLCknfcloXFOyFnlgtENryhrpZCe29RTifKEixXQZ38WheV+i/6YWSzkz3V"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <h3>ReadX</h3>
    <p class="head">Contact Us</p>
    <br /><br /><br />
    <h2 style="color: white;">Thank You, We will contact you soon.</h2>
    <div class="mode">
      <a href="/home-dark"
        ><button id="mode">
          Home
        </button></a
      >
    </div>
    <div class="border"></div>
    <div id="last" class="wrap">
      <h6 class="text-light small font-weight-bold">
        <i class="fas fa-code"></i> with <i class="fas fa-heart"></i> by Aryan
        Kashyap
      </h6>
    </div>
  </body>
</html>
