<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ReadX</title>
    <link rel="stylesheet" href="../static/styles.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <h3>ReadX</h3>
    <p class="head">Grade your Paragraph with the readability test.</p>
    <br /><br />
    <h2>Grade: {{grade}}</h2>
    <div class="wrap">
      <br />
      <a href="/"><button type="submit">Go Back</button></a>
    </div>
    <br /><br /><br /><br /><br /><br /><br /><br /><br />
    <p class="dev">
      ReadX v2.0 Developed By
      <a href="https://github.com/iaryankashyap">Aryan Kashyap</a> (c)
      <a href="https://github.com/DevX-Community">DevX</a>
    </p>
  </body>
</html>
